@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.light-theme {
    --first-color: #f8f8f8;
    --second-color: #B5C0D0;
    --second-color-nav: #a3a8a28a;
    --third-color: #004b92;
    --forth-color: #6ba1aa;
    --fith-color: #EED3D9;
    --sixth-color: #7fa7cc;
    --text-color: black;
    --nav-text-color: black;
    --project-h3-color: white;
    --manu-shadow-color: rgba(0, 0, 0, 0.568);
}

.dark-theme {
    --first-color: #34353b;
    --second-color: #3d3e42;
    --second-color-nav: #3d3e42c9;
    --third-color: #fec86a;
    --forth-color: #3d3e42;
    --fith-color: #EED3D9;
    --sixth-color: #fec86a;
    --text-color: white;
    --nav-text-color: #98999a;
    --project-h3-color: white;
    --manu-shadow-color: rgba(143, 143, 143, 0.493);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--first-color);
}

header {
    height: 100vh;
    padding: 36px 100px;
    background-image: url(img/me.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
}

/* #nv{
    display: none;
} */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 87%;
    height: 70px;
    z-index: 99;
    background-color: var(--second-color-nav);
    border-radius: 60px;
}

header nav #logo {
    margin-left: 5px;
    height: 56px;
    width: 56px;
    object-fit: contain;
    filter: invert(70%) sepia(96%) saturate(558%) hue-rotate(359deg) brightness(103%) contrast(106%);
}


header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin: 0px 20px;
}

header nav ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    transition: all ease 0.5s;
}

header img {
    width: 35px;
    padding-right: 10px;
    fill: black;
}

header nav ul li a:hover {
    color: #fbfbfb;
}

header nav ul li .active {
    color: #ffffff;
}

/* #icon2 {
    color: white;
} */

.landing {
    display: flex;
    height: 90vh;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
}

.landing .intro {
    display: flex;
    flex-direction: column;
}

.landing .intro h3 {
    color: var(--text-color);
    font-weight: 400;
    font-size: 32px;
    margin-left: 10vw;
}

.landing .intro h3 span {
    color: var(--third-color);
    font-weight: 600;
    font-size: 3.5rem;
}

.intro div {
    height: 48px;
    width: 144px;
    margin-top: 2.5vh;
    margin-left: 10vw;
    background-color: transparent;
    border: 2px solid var(--third-color);
    border-radius: 8px;
    color: var(--third-color);
    font-size: 16px;
    transition: all ease 0.5s;

}

.intro div:hover {
    background-color: var(--third-color);
    color: #34353b;
}

.intro div a {
    color: var(--text-color);
    padding: 0.8em;
    text-align: center;
    display: inline-block;
    text-decoration: none !important;
    margin-left: 20px;
}

.landing a {
    text-decoration: none;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 50vh;
}

.socials .line {
    background-color: var(--third-color);
    height: 15vh;
    width: 2.5px;
}

.socials i {
    color: var(--text-color);
    font-size: 36px;
}

.about {
    height: 50vh;
    width: 100vw;
    padding: 100px;
}

.about h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--text-color);
    font-family: "Libre Baskerville", serif;
}

.about .description {
    display: flex;
    align-items: start;
}

.about .description .line {
    height: 2.5px;
    width: 400px;
    background-color: var(--third-color);
    margin-right: 32px;
}

.about .description p {
    color: var(--text-color);
    font-size: 20px;
    text-align: justify;
}

.about .description p span {
    color: var(--third-color);
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

.skills h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--text-color);
    font-family: "Libre Baskerville", serif;
}

.cards {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 2.5vh;
}

.skill-card {
    height: 20vw;
    width: 20vw;
    background-color: var(--forth-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
    transition: all ease 0.5s;
}

.skill-card:hover {
    background-color: var(--third-color);
}

.skill-card img {
    height: 7.5vw;
    width: 7.5vw;
    object-fit: contain;
}

.skill-card h2 {
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

.projects h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--text-color);
    font-family: "Libre Baskerville", serif;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

.project h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--text-color);
    font-family: "Libre Baskerville", serif;
}

.project-cards {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
    gap: 2.5vh;
}

.project-cards .view {
    height: 48px;
    width: 155px;
    margin-top: 2.5vh;
    margin-left: 10vw;
    background-color: transparent;
    border: 2px solid var(--third-color);
    border-radius: 8px;
    color: var(--third-color);
    font-size: 16px;
    transition: all ease 0.5s;
}

.project-cards .view:hover {
    background-color: var(--third-color);
    color: #34353b;
}

.project-cards .view a {
    color: var(--text-color);
    padding: 0.8em;
    text-align: center;
    display: inline-block;
    text-decoration: none !important;
    /* margin-left: ; */
}


.project-card {
    position: relative;
    height: 30vw;
    width: 30vw;
    background-color: var(--forth-color);
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
    transition: all ease 0.5s;
}

.project-card img {
    position: relative;
    height: 30vw;
    width: 30vw;
    object-fit: cover;
}

.project-card .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    height: 30vw;
    width: 30vw;
    background-color: #34353ba2;
    align-items: center;
    justify-content: center;
    padding: 24px;
    opacity: 0;
    transition: all ease 0.5s;
}

.project-card .overlay h3 {
    color: var(--project-h3-color);
    font-size: 24px;
}

.project-card .overlay p {
    color: var(--text-color);
    font-size: 16px;
    text-align: center;
}

.project-card .overlay button {
    height: 36px;
    width: 108px;
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 8px;
    color: #34353b;
    font-size: 12px;
    transition: all ease 0.5s;
    cursor: pointer;
}

.project-card .overlay:hover {
    opacity: 1;
}

.project button {
    margin-top: 50px;
    height: 48px;
    width: 144px;
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 8px;
    color: #34353b;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.5s;
}

.project button:hover {
    background-color: #cc9e4e;
}

.education-outer {
    width: 100vw;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.education-outer h1 {
    font-size: 56px;
    color: var(--text-color);
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
}

.education {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.education-inner {
    color: var(--text-color);
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
}

.education-inner img {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.contact-me {
    width: 100vw;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-me h1 {
    font-size: 56px;
    color: var(--text-color);
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
}

.contact {
    display: flex;
    gap: 24px;
}

.contact-card {
    background-color: var(--third-color);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    margin-top: 7.5vh;
}

.contact-card a {
    text-decoration: none;
    color: black;
}

.sidebar {
    padding-top: 2%;
    position: fixed;
    top: 10px;
    left: 10px;
    /* bottom: 100px; */
    height: 35vh;
    width: 150px;
    z-index: 999;
    background-color: var(--second-color-nav);
    backdrop-filter: blur(40px);
    box-shadow: 0px 0 5px var(--manu-shadow-color);
    border-radius: 20px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin-top: 0; */
}

.menu-button {
    display: none;
    fill: var(--text-color);
}

.close-button {
    fill: var(--text-color);
}

.sidebar li {
    margin-bottom: 20px;
}

#medi {
    display: none;
}

#icon {
    display: none;
}

#me {
    display: none;
}

.projects-mobile {
    display: none;
}

@media screen and (max-width:800px) {
    nav {
        display: fixed;
    }

    header nav #icon {
        display: flex;
    }

    .hideOnMobile {
        display: none;

    }

    #icon2 {
        display: none;
    }

    .menu-button {
        display: flex;
        margin-left: 0px;
    }

    header .landing .intro h3 {
        font-size: 18px;
    }

    header .landing .intro h3 span {
        font-size: 15px;
    }

    header {
        background-image: none;
        padding: 0px 4px 0 4px;
        height: 20vh;
        padding-top: 10px;
    }

    header #me {
        display: flex;
        height: 100px;
        width: 160px;
        margin: 140px 12px 0 0;
        border-radius: 50%;

    }

    /* header {
        height: 100vh;
        padding: 36px 100px;
        background-image: url(img/me.png);
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100vw;
    } */

    header .landing {
        height: 50%;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* position:fixed; */
        width: 88%;
        height: 50px;
        margin-left: 20px;
        z-index: 99;
        background-color: var(--second-color-nav);
        border-radius: 60px;
    }

    header .landing .socials {
        display: none;
    }

    .landing h3 {
        padding-top: 200px;
    }

    .intro div {
        height: 22px;
        width: 80px;
        margin-top: 2.5vh;
        margin-left: 10vw;
        background-color: transparent;
        border: 2px solid var(--third-color);
        border-radius: 8px;
        color: var(--third-color);
        font-size: 12px;
        transition: all ease 0.5s;
    }

    .intro div a {
        color: var(--text-color);
        padding: 0.1em;
        text-align: center;
        display: inline-block;
        text-decoration: none !important;
        margin-left: 5px;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px 0 20px;
        height: 20vh;
    }

    .about h1 {
        margin: 29px 0 0 39px;
        font-size: 16px;
        font-weight: 700;
        color: var(--text-color);
        font-family: "Libre Baskerville", serif;
        padding-right: 45px;
    }

    .about .description {
        display: inline;
        align-items: flex-start;
        align-items: center;
    }

    .about .description .line {
        height: 2.5px;
        width: 0px;
        background-color: var(--third-color);
        margin-right: 0px;
        align-items: center;
    }

    .about .description p {
        color: var(--text-color);
        font-size: 8px;
        text-align: justify;
    }

    .about .description p span {
        color: var(--third-color);
    }

    .skills {
        margin-left: 31px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 50px 50px 10px;
    }

    .skills h1 {
        margin-top: 19px;
        font-size: 16px;
        font-weight: 700;
        color: var(--text-color);
        font-family: "Libre Baskerville", serif;
    }

    .cards {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        gap: 2.5vh;
    }

    .skill-card {
        height: 19vw;
        width: 19vw;
        background-color: var(--forth-color);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        gap: 2.5vh;
        transition: all ease 0.5s;
    }

    .skill-card:hover {
        background-color: var(--third-color);
    }

    .skill-card img {
        height: 7vw;
        width: 7vw;
        object-fit: contain;
    }

    .skill-card h2 {
        margin-top: -15px;
        font-size: 10px;
        font-weight: 400;
        color: white;
        /* display: none; */
    }


    .projects {
        display: none;
    }

    .projects-mobile {
        margin-left: 31px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 50px 50px 10px;
    }

    .projects-mobile h1 {
        margin-top: 19px;
        font-size: 16px;
        font-weight: 700;
        color: var(--text-color);
        font-family: "Libre Baskerville", serif;
    }

    .cards-mobile {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        gap: 2.5vh;
    }

    .projects-mobile-card {
        height: 35vw;
        width: 35vw;
        background-color: var(--forth-color);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        gap: 2.5vh;
        transition: all ease 0.5s;
    }

    .projects-mobile-card:hover {
        background-color: var(--third-color);
    }

    .projects-mobile-card img {
        height: 25vw;
        width: 25vw;
        object-fit: contain;
    }

    .projects-mobile-card h2 {
        margin-top: -15px;
        font-size: 10px;
        font-weight: 400;
        color: white;
        /* display: none; */
    }

    .view-mobile {
        height: 28px;
        width: 84px;
        /* margin-top: vh; */
        /* margin-left: 10vw; */
        background-color: transparent;
        border: 2px solid var(--third-color);
        border-radius: 8px;
        color: var(--third-color);
        font-size: 16px;
        transition: all ease 0.5s;
        /* align-items: center;
    justify-content: center; */
    }

    .view-mobile:hover {
        background-color: var(--third-color);
        color: #34353b;
    }

    .view-mobile a {
        color: var(--text-color);
        /* padding:1.8em; */
        margin: 3px 0 0 18px;
        text-align: center;
        display: inline-block;
        text-decoration: none !important;
        /* margin-left: ; */
    }

    .source {
        display: flex;
        gap: 80px;
    }

    .youtube {
        display: flex;
        gap: 80px;
    }

    .education-outer {
        width: 100vw;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0 20px 0;
    }

    .education-outer h1 {
        font-size: 16px;
        color: var(--text-color);
        font-family: "Libre Baskerville", serif;
        font-weight: 700;
    }

    .education {
        /* width: 100vw; */
        gap: 20px;
    }
    
    .education-inner {
        color: var(--text-color);
        border-radius: 20px;
        text-align:center;
        margin-top: 10px;
        
    }

    .education-inner p {
        font-size: 16px;
    }
    
    .education-inner img {
        width: 100px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
    }

    .contact-me {
        width: 100vw;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-me h1 {
        font-size: 20px;
        color: var(--text-color);
        font-family: "Libre Baskerville", serif;
        font-weight: 700;
    }

    .contact {
        display: inline-block;
        gap: 1px;
    }

    .contact-card {
        background-color: var(--sixth-color);
        grid-template-columns: auto auto;
        padding: 5px;
        border-radius: 8px;
        display: flex-start;
        gap: 10px;
        margin-top: 5px;
    }

    .contact-card a {
        text-decoration: none;
        color: black;
        font-size: 14px;
    }

    .footer-div {
        width: 100%;
        height: 50px;
        background-color: var(--second-color-nav);
        margin-top: 20px;
    }
}